<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - MapleStoryTools</title>
</head>
<body>
    <nav>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a href="https://a2983456456.github.io/artale-drop/" target="_blank">Artale掉落查詢</a></li>
            <li><a href="https://a2983456456.github.io/Maple-ACC-calculator/" target="_blank">Artale命中計算機</a></li>
            <li><a href="https://artale-market.org/" target="_blank">Artale線上交易所</a></li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
